:root {
	--color1: #111111;
	--color2: #ffffff;
	--color3: #333333;
	/*border color*/
	--color4: #4D4943;
	--color5: #0d7fbe;
	--color6: #F1AD1D;
	--color7: #f50f0f;
}

.sertiz {
	height: 900px;
	margin: 0 auto;
}



.container {
	width: 100%;
	max-width: 1170px;
	margin: auto;
}

.subtitle {
	text-align: center;
	text-transform: uppercase;
	color: var(--color3);
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	margin-top: 125px;
	margin-bottom: 28.5px;
}

.description {
	text-align: center;
	position: relative;
	color: var(--color4);
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	margin-bottom: 108px;
}

.description::after {
	content: '';
	border-bottom: 3px solid var(--color3);
	width: 60px;
	display: block;
	position: absolute;
	bottom: -48px;
	left: 50%;
	transform: translateX(-50%);

}

.wrapper-quote {
	display: flex;
	justify-content: center;
	/* text-align: left; */
	gap: 20px;
}

.figure {
	text-align: left;
	position: relative;
	padding-top: 45px;
	padding-bottom: 55px;
}

.figure:before {
	content: "";
	/* content: "\201C";
	font-size: 40px; */
	position: absolute;
	border: 20px solid var(--color3);
	left: 0;
	top: 0;
}

.figure:after {
	content: "";
	/* content: "\201D";
	font-size: 40px; */
	position: absolute;
	border: 1px solid var(--color3);
	border-width: 20px 25px;
	bottom: 0;
}

.underline {
	padding: 20px 0;
	position: relative;
}

.underline:before {
	content: "";
	position: absolute;
	display: inline-block;
	border-top: 3px solid var(--color3);
	width: 85%;
	right: 0;
	top: -20px;
}

.underline::after {
	content: "";
	position: absolute;
	display: inline-block;
	border-top: 3px solid var(--color3);
	width: 100%;
	right: 0;
	bottom: 0;
}

.quote-text,
figcaption {
	font-family: 'Inter', sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: 200;
}

.figcaption {
	display: block;
	position: absolute;
	left: 60px;
	bottom: 0;
	/* left: 0; */
}

.span {
	display: block;
	font-family: 'Inter', sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: 500;
}