@import url(./card.css);
@import url(./modal.css);
@import url(./loader.css);

#root {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

}

.card {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card-buttons {

    gap: 4px;
    display: flex;
    justify-content: flex-end;
}

.user-info {
    display: flex;
    gap: 20px;
}