.consulting,
.advantages {
    max-width: calc(100% - 430px);
    margin: auto;

}

.line {
    width: 60px;
    height: 3.03px;
    background: #F1AD1D;
    margin: auto;
    margin-bottom: 53px;
}

.subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin: 100px 0px 15px 0;
}

.description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #4D4943;
    margin-bottom: 40px;
}

.consulting-content {
    display: flex;
    gap: 30px;
}

.consulting-content-picture {
    /* align-items: center;
    display: flex; */
    width: 50%;
}


.consultin-picture-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
}

.consultin-picture-list>li>img {
    /* width: 100%; */
}

.consultin-picture-item {
    position: relative;
    /* width: 100%; */
}

.image {
    /* z-index: 1; */
}

.image-link {
    display: block;
    position: absolute;
    left: 13px;
    bottom: 15px;
    text-decoration: none;
    background-color: #333333;
    padding: 14px 33px 14px 17px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;

}

.consulting-content-article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.consulting-content-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-transform: uppercase;
    color: #333333;
}

.consulting-content-title>span {
    color: #F1AD1D;
    margin-bottom: 22px;
}

.consulting-content-article>p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    color: #505050;
}

.consulting-button {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #F1AD1D;
    padding: 19px 27px;
}