.main-page-content {
    width: 1024px;
}

ul {
    list-style-type: none;
}

.prev-next a {
    background-color: black;
    border-radius: 20px;
    color: aliceblue;    
    padding: 10px;
    margin: 10px;
    display:inline-block;
    text-decoration: none;
    min-width: 320px;
    text-align: center;
}

#intro > p {
    font-size: 20px;
    color: grey;
    border-bottom: 1px solid blue;
}

h2, h3 {
    font-size: 24px;
    text-align: center;
    margin: 20px;
}

p {
    font-size: 16px;
    color: black;
    line-height: 1,5;
}

