@import url(fonts.css);

:root {
    --white: #FFFFFF;
    --lightgreen: #3CB878;
    --blue: #305DB8;
    --red: #DF4A32;
    --active_font: #434343;
    --placeholder: #BEBEBE;
    --hover_green: #01813F;
    --hover_darkblue: #022263;
    --hover_darkred: #AB1F09;
    --fb_btn_decorate: #2355b8;
    --gl_btn_decorate: #dd2f14;
}

.img-wrapper {
    max-width: 100vw;
    min-height: 100vh;
    background-image: url(../img/bg_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.nav-wrapper {
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    max-width: 1286px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: var(--white);
    transition: 0.5s ease;
}

.logo:hover {
    color: var(--hover_green);
}

.nav-tools {
    display: flex;
    align-items: center;
}

.tools-list {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 30px;
    padding-right: 25px;
    margin-right: 25px;
    position: relative;
}

.tools-link {
    display: block;
}

.tools-list::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.5);
    mix-blend-mode: normal;
    opacity: 0.5;
    right: 0;
}

.nav-icon path {
    transition: 0.5s ease;
}

.nav-icon:hover path {
    fill: var(--hover_green);
}

.nav-auth {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--white);
}

.nav-auth-link {
    display: inline-block;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--white);
    transition: 0.5s ease;
}

.nav-auth-link:hover {
    color: var(--hover_green);
}

.signup-page-wrapper {
    position: relative;
    min-height: calc(100vh - 60px);
}

.signup-form-wrapper {
    margin: auto;
    box-sizing: border-box;
    width: 444px;
    padding: 30px 60px 40px;
    background-color: var(--white);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.signup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--active_font);
}

.signup-title::before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    background: var(--lightgreen);
    left: 0;
}

.form-login-link {
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--lightgreen);
    transition: 0.5s ease;
}

.form-login-link:hover {
    text-decoration: underline;
    color: var(--hover_green);
}

.signup-methoods {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.btn {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--white);
    text-decoration: none;
    border-radius: 4px;

}

.btn-facebook {
    background-color: var(--blue);
    padding: 14px 22px 14px 17px;
    transition: 0.5s ease;
}

.btn-facebook:hover {
    background-color: var(--hover_darkblue);
}

.fb-btn-decorate {
    padding-left: 18px;
    margin-left: 19px;
    position: relative;
}

.fb-btn-decorate::before {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    background-color: var(--fb_btn_decorate);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.btn-google {
    background-color: var(--red);
    padding: 14px 27px 14px 12px;
    transition: 0.5s ease;
}

.btn-google:hover {
    background-color: var(--hover_darkred);
}

.gl-btn-decorate {
    padding-left: 30px;
    margin-left: 7px;
    position: relative;
}

.gl-btn-decorate::before {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    background-color: var(--gl_btn_decorate);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.separetor {
    text-align: center;
    margin-bottom: 12px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    position: relative;
}

.separetor::before {
    content: "";
    width: 140px;
    height: 1px;
    background: #F2F2F2;
    position: absolute;
    left: 0;
    top: 50%;
}

.separetor::after {
    content: "";
    width: 140px;
    height: 1px;
    background: #F2F2F2;
    position: absolute;
    right: 0;
    top: 50%;
}

.form-input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--placeholder);
    position: relative;
    padding-left: 20px;
}

.form-input:focus {
    outline: none;
    border: none;
    color: var(--active_font);
    border: 1px solid #F2F2F2;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.agree-wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 11px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--active_font);
}

.agree-checkbox {
    display: none;
}

.agree-custom-check {
    display: flex;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

.agree-checkbox:checked~.agree-custom-check>.check-pic {
    display: block;
}

.check-pic {
    margin: auto;
    display: none;
}

.agree-terms {
    text-decoration: none;
    color: var(--lightgreen);
    transition: 0.5s ease;
}

.agree-terms:hover {
    text-decoration: underline;
    color: var(--hover_green);
}

.create-btn {
    width: 100%;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 16px;
    background-color: var(--lightgreen);
    border: none;
    transition: 0.5s ease;
}

.create-btn:hover {
    background-color: var(--hover_green);
}