@import url(./fonts.css);

:root {
    --white: #fff;
    --orange: #F26522;
}

.img-wrapper {
    max-width: 100vw;
    min-height: 100vh;
    margin: auto;
    background-image: url(../img/background\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.content-wrapper {
    max-width: 1026px;
    min-height: 768px;
    margin: auto;
    padding-top: 50px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    text-decoration: none;
    display: flex;
    gap: 10px;
}

.logo-img-orange {
    display: none;
}

.logo:hover .logo-img-orange {
    display: inline;
}

.logo:hover .logo-img-white {
    display: none;
}

.logo:hover * {
    color: var(--orange);
}

.logo-name {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.logo-name>span {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--white);
}

.contact-link {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: var(--white);
    text-decoration: none;
}

.contact-link:hover {
    color: var(--orange);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.grid-list {
    display: grid;
    grid-template: repeat(2, 291px) / repeat(3, 1fr);
    gap: 20px 60px;
}


.grid-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.grid-container {
    box-sizing: border-box;
    min-height: 220px;
    position: relative;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, black, white, black);
    border-image-slice: 1;
}

.grid-img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.grid-popup {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    padding: 7px 16px 12px;
    background: var(--orange);
    position: absolute;
    top: 155px;
    opacity: 0;
    transition: opacity 1.3s ease-out;
}

.grid-link:hover .grid-popup {
    opacity: 1;
}

.popup-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup-price-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: var(--white);
}

.popup-price-value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--white);
}

.popup-details {
    display: flex;
    align-items: flex-end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--white);
    padding-right: 16px;
    position: relative;
}

.popup-details::after {
    content: "";
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right: 0;
    bottom: 2px;
}


.grid-description {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: var(--white);
}

.grid-link:hover .grid-description {
    color: var(--orange);
}

/* .footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
} */

/* .copyright {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--white);
} */

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--white);
}