.container {
    /* display: flex; */
    align-items: flex-start;
    height: 200px;
    border: 1px solid black;
}

.item {
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 50px;
    margin: 10px;
}