<!-- Напишите функцию createCalendar(elem, year, month).

Вызов функции должен создать календарь для заданного месяца month в году year и вставить его в elem.

Календарь должен быть таблицей, где неделя – это <tr>, а день – это <td>. У таблицы должен быть заголовок с названиями дней недели, каждый день – <th>, первым днём недели должен быть понедельник.

Например, createCalendar(cal, 2012, 9) сгенерирует в cal следующий календарь: -->


<head>
	<style>
		table {
			border-collapse: collapse;
		}

		td,
		th {
			border: 1px solid black;
			padding: 3px;
			text-align: center;
		}

		th {
			font-weight: bold;
			background-color: #E6E6E6;
		}
	</style>
</head>

<body>


	<div id="calendar"></div>
	<script>

	</script>

</body>

</html>