@import "_mixins.scss";
@import "_reset.scss";


.container {
	display: grid;
	grid-template-areas:
	"header"
	"main"
	"aside-review"
	"aside-links";
	@media (min-width:768px){
		grid-template-areas:
		"header header "
		"aside-links  main"
		"aside-links  aside-review";
	}
	@media (min-width:1024px){
		grid-template-areas:
		"header header "
		"aside-links  main"
		"aside-review  main";
	}
	// grid-template-columns: ;
	// grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.header {
	grid-area: header;
}

.main {
	grid-area: main;
	@media (min-width: 1024px) {
		@include col(9);
	}
}

.aside-links {
	grid-area: aside-links;
	@media (min-width: 1024px) {
		@include col(3);
	}
}

.aside-review {
	grid-area: aside-review;
	@media (min-width: 1024px) {
		@include col(3);
	}
}

.posts-wrap {
	display: flex;
	flex-direction: column;
	padding: 30px 16px;
	gap: 30px;
	@media (min-width: 768px) {
		padding: 40px 30px;
		gap: 40px;
	}
	@media (min-width: 1024px) {
		flex-direction: row;
		flex-wrap: wrap;
		padding: 40px 100px;
		column-gap: 70px;
		row-gap: 50px;
	}
}

.post {
	display: flex;
	@media (min-width: 1024px) {
		flex-direction: column;
		width: 250px;
	}
}