@import url(fonts.css);

:root {
    --white: #ffffff;
    --turquoise: #14AFCA;
    --black-paragraph: #424F57;
    --black-nav: #3E4C4E;
    --blockquote: #D3CCCC;
    --copyright: #3D3C3C;
}

body {
    max-width: 100vw;
    margin: 0 auto;
}

.parallax-wrapper-top {
    max-width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
}

.parallax-wrapper-top::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.header-wrapper {
    /* display: flex;
    justify-content: center; */
    position: absolute;
    width: 100%;
    left: 0;
    top: 30px;
    background: #fff;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1026px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.logo {
    padding: 40px 0;
}

.logo-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
    padding: 40px 0;
}

.logo-link>span {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--turquoise);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: var(--black-nav);
    z-index: 2;
}

.nav-link:hover {
    color: var(--turquoise);
}

.title {
    display: block;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    font-family: 'Futura Md BT';
    font-weight: bold;
    font-size: 52px;
    line-height: 75px;
    color: var(--white);
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.decoration-wrapper-bottom {
    position: relative;
    max-width: 100vw;
}

.decoration-wrapper-bottom::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
    width: 50vw;
    height: 75px;
    background-color: #fff;
}

.decoration-wrapper-bottom::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
    width: 50vw;
    height: 75px;
    background-color: #fff;
}

.decoration-wrapper-top {
    position: relative;
}

.decoration-wrapper-top::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    width: 50vw;
    height: 80px;
    background-color: #fff;
}

.decoration-wrapper-top::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
    width: 50vw;
    height: 80px;
    background-color: #fff;

}

.what {
    margin-top: 100px;
    margin-bottom: 100px;
}

.subtitle {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    color: #14AFCA;
    margin-bottom: 30px;
}

.description {
    font-family: 'Roboto Medium', sans-serif;
    font-style: normal;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: var(--black-paragraph);
    margin-bottom: 30px;
}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--black-paragraph);
}

.parallax-wrapper-middle {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
}

.parallax-wrapper-middle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.companies {
    margin: 150px auto;
}

.description-white {
    color: var(--white);
}

.companies-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 70px 55px;
    text-align: center;
}

.meet {
    margin: 150px auto;
}

.meet-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.meet-item {
    width: 300px;
}

.meet-specification {
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: var(--black-paragraph);
}

.parallax-wrapper-bottom {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
}

.parallax-wrapper-bottom::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.testimonials {
    margin: 200px auto;
}

.testimonials-quote {
    margin-top: 50px;
    max-width: 900px;
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.8px;
    color: #D3CCCC;
    position: relative;
}

.testimonials-quote::after {
    content: "- Shoaib Ahmed";
    position: absolute;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.45px;
    color: var(--white);
    bottom: -70px;
    right: 15%;
}

.wrapper {
    margin: auto;
}

.why {
    margin: 100px auto;
}

.why-specification {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.75px;
    color: var(--black-paragraph);
}

.copyright {
    margin: 0 auto 90px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: var(--copyright);
}

.design {
    display: block;
}

.design-bold {
    font-weight: 600;
    font-size: 16px;
}