@import url(fonts.css);

:root {
    --white: #FAFAFA;
    --lightgray: #F2F2F2;
    --grey: #E3E3E3;
    --standart: #89C331;
    --ultimate: #F04A56;
    --premium: #20807C;
    --font-black: #484848;
    --font-white: #FFFFFF;
    --table-border: #3A4965;
    --column-border: #bdbdbd;
}

body {
    height: 100vh;
    display: flex;
}

.pricing-table {
    margin: auto;
    text-align: center;
    border: 20px solid var(--table-border);
    font-family: 'Arimo';
    font-style: normal;
    table-layout: fixed;
}


td {
    border: 1px solid var(--column-border);
    width: 280px;
}

.pricing-plan {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    vertical-align: middle;
}

.pricing-plan>span {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: var(--font-black);

}


.plan-standart {
    background-color: var(--standart);
    padding-top: 27px;
    padding-bottom: 18px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--white);
}

.plan-ultimate {
    background-color: var(--ultimate);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--white);
}

.plan-premium {
    background-color: var(--premium);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--white);
}

.pricing {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-black);
    height: 80px;
}

.pricing-setting {
    vertical-align: middle;
    /* padding-top: 30px; */
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--font-black);
}

.pricing-decorate {
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    color: var(--font-black);
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translate(30%, 50%);
}



.pricing-decorate::after {
    position: absolute;
    content: ".99";
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--font-black);
    top: -50%;
}

.text-wrapper {
    position: absolute;
    bottom: 25%;
}

tbody>tr>td {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-black);
    height: 72px;
    text-transform: uppercase;
    vertical-align: middle;
}

.storage {
    background-color: var(--lightgray);
}

/* почему-то закрашивает все элементы
tbody:nth-child(even) {
    background-color: var(--grey);
} */

.bandwidth,
.support,
.users {
    background-color: var(--grey);
}

.email,
.products {
    background-color: var(--lightgray);
}


tfoot>tr>td {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-black);
    height: 102px;
    text-transform: uppercase;
    vertical-align: middle;
}

.btn {
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    width: 195px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-top: 17px;
    padding-bottom: 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.black {
    background-color: var(--font-black);

}

.black::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    background: #000;
    bottom: -4px;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #404040;
}

.green {
    background-color: var(--standart);
}

.green::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    background: #000;
    bottom: -4px;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #79b027;
}

.red {
    background-color: var(--ultimate);
}

.red::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    background: #000;
    bottom: -4px;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #df3a46;
}

.darkgreen {
    background-color: var(--premium);
}

.darkgreen::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    background: #000;
    bottom: -4px;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #16736f;
}