.container {
  max-width: 1280px;
  margin: 0 auto;
  /* background: yellow; */
}

.logo {
  text-decoration: none;
  margin-top: 63px;
  margin-bottom: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  display: block;
  color: #000000;
}

.logo-span {
  color: #4bcaff;
}

.nav-header {
  padding-left: 132px;
  background-color: #35444f;
}

.nav-header-list {
  display: flex;
}

.header-link {
  text-decoration: none;
  border-left: 1px solid #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 24px 33px 18px;
}

.header-link:hover {
  background-color: #222f3a;
  font-weight: 400;
}

.nav-header-item:last-child>.header-link {
  border-right: 1px solid #fff;
}

.main-wrapper {
  display: flex;
  margin-top: 50px;
  margin-bottom: 55px;
  gap: 53px;
  align-items: flex-start;
}

.aside-nav {
  border: 1px solid #000000;
}

.aside-link {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  width: 340px;
  padding: 25px 45px;
}

.aside-link:hover {
  background-color: #dbdbdb;
  color: black;
  padding-left: 80px;
}

.main-content {}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 529px;
  border: 1px solid #000000;
  position: relative;
  overflow: hidden;
}

.image {
  transition: transform 0.5s ease;
}

.image:hover {
  transform: scale(1.6);
}

.main-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-top: 35px;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
}

.nav-footer-list {
  display: flex;
  padding-left: 20px;
}

.footer-link {
  color: #0C1927;
  height: 70px;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  padding: 20px;
}

.footer-link:hover {
  color: #3181A6;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #3181A6;
}

.footer-copyright {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #010101;
  padding-right: 40px;
}