/*import reset.css*/

/*Variables could be used as var(--color1)*/
:root {
    --color1: #000000;
    --color2: #ffffff;
    --color3: #333333;
    --color4: #F1AD1D;
    --color5: #4D4943;
    --color5: #111111;
}   

.line {
    /* margin: auto; */
    width: 60px;
    border-bottom: 3px solid var(--color4);
    /* margin-bottom: 60px; */
}

.container {
    min-width: 1070px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: var(--color3);
}

.description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #4D4943;
}

.trust {
    /* display: flex;
    justify-content: center;
    text-align: center; */
}

.trust-nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;
    gap: 14px;
    margin-bottom: 60px;
}

.trust-link.active {
    background-color: var(--color3);
    color: var(--color4) ;
}

.trust-link {
    text-decoration: none;
    padding: 14px 40px;
    color: var(--color5);
    border: 1px solid var(--color3);
    /* margin: 0 14px; */
}

.gallery-wrap {
    width: 1070px;
}

.trust-gallery-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.trust-gallery-item {
    list-style-type: none;
}

.trust-gallery-item.active {
    border: 1px solid var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    display: inline-block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--color2);
    padding: 14px 33px;
    background-color: var(--color4);
}

.trust-gallery-link {
    display: block;
}

.trust-gallery-link > img {
    width: 100%;
    height: 100%;
}