@import url(./reset.css);
@import url(./fonts.css);
/* @import url(parallax.css); */

:root {
    --background: #171717;
    --color1: #FFFFFF;
    --color2: #E4B564;
}

.wrapper {
    max-width: 100vw;
    margin: auto;
    background-color: var(--background);
    position: relative;
}

.fixed {
    position: fixed;
    right: 0;   
    left: 0;
    background: black;
    
}

.header-wrapper {
    max-width: 1460px;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-header {
    display: block;
    text-decoration: none;
    color: var(--color2);
    border: 1px solid var(--color2);
    padding: 10px 25px;
    font-family: 'Circe' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.phone {
    padding-right: 10px;
}


.title {
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 40px;
}

.description {
    display: block;
    max-width: 1180px;
    margin: 40px 0;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--color1);

}

.item-description {
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

/* .nets-parallax {
    max-width: 100vw;
    margin: auto;
    background-image: url(../img/header-bg.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
} */

.main {
    padding-top: 150px;
}

.nets {
    width: 1460px;
    margin: auto;
    padding: 40px 0;
}

.nets-list {
    display: grid;
    grid-template-rows: repeat(2, 468px);
    grid-template-columns: 2fr repeat(2, 1fr) 2fr;
    grid-gap: 30px;
}

.nets-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #634F2C;

}

.nets-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 2 / 4;
    background-color: #B4A385;
}

.nets-item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4B564;
}

.nets-item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    background-color: #635A4A;
}

.nets-item5 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3 / -1;
    background-color: #B08C4D;
}

.nets-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 380px;
    /* Очень запутался. Нужно уточнять */
    text-decoration: none;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.nets-span {
    display: block;
}

.park {
    width: 1460px;
    /* max-width: calc(100% - 460px); */
    margin: auto;
    padding-top: 40px;
    padding-bottom: 80px;
}

.park-list {
    display: grid;
    padding-top: 95px;
    height: 900px;
    grid-template-rows: 4fr 1fr 2fr repeat(2, 3fr) 4fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.park-item1 {
    grid-row: 1 / 4;
    background-color: #0E0E0E;
}

.park-item2 {
    grid-row: 1 / 5;
    background-color: #242424;
}

.park-item3 {
    grid-row: 1 / 3;
    background-color: #1F1F1F;
}

.park-item4 {
    grid-row: 4 / 8;
    background-color: #1F1F1F;
}

.park-item5 {
    grid-column: 3 / -1;
    grid-row: 3 / 6;
    background-color: #0E0E0E;
}

.park-item6 {
    grid-row: 5 / 7;
    background-color: #E4B564;
    margin-bottom: -50px;
}

.park-item7 {
    grid-row: 6 / -1;
    background-color: #0A0909;
}

.park-link {
    display: block;
    text-decoration: none;
    padding-top: 45px;
    padding-left: 50px;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.park-span {
    display: block;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.park-span-bold {
    display: block;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.text-black {
    color: #000000;
}

/* .projects-wrapper {
    max-width: calc(100% - 460px);
    width: 100%;
    margin: auto;
    padding: 40px 0;
    background-color: #0E0E0E;
} */

.projects {
    width: 1460px;
    /* max-width: calc(100% - 460px); */
    margin: auto;
    /* padding: 40px 0; */
    background-color: var(--background);
}

.project-nav {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.btn-projects {
    display: block;
    text-decoration: none;
    color: var(--color2);
    border: 1px solid var(--color2);
    padding: 10px 40px;
    font-family: 'Circe' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.project-list {
    display: grid;
    grid-template: repeat(2, 390px) / repeat(3, 1fr);
    /* grid-gap: 10px; */
}

.project-list li {
    overflow: hidden;
}

.project-link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: hidden;
}

.project-span-bold {
    display: block;
    font-family: 'Gilam' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.project-span {
    display: block;
    font-family: 'Gilam' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

/* .helper {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
} */

.transform {
    transition: transform 0.5s ease;
}

.transform:hover {
    transform: scale(1.2);
}

.project-item1 {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #634F2C;
}

.project-item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 2 / 3;
    background-color: #E8D2AB;
}

.project-item3 {
    grid-column: 3 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E4B564;
}

.project-item4 {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #635A4A;
}

.project-item5 {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #B08C4D;
}

.project-item6 {
    grid-column: 3 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #634F2C;
}




.footer {
    padding: 80px;
}