.nets-parallax {
    max-width: 100vw;
    margin: auto;
    background-image: url(../img/header-bg.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.border {
    max-width: 100vw;
    padding: 80px;
    background-color: var(--background);
}

.park-parallax {
    max-width: 100vw;
    margin: auto;
    background-image: url(../img/parallax-bg.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}