.conteiner {
    max-width: calc(100% - 430px);
    width: 100%;
    margin: auto;
}

.title-article {
    text-align: center;
    text-transform: uppercase;
    margin-top: 113px;
    margin-bottom: 28.5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.description {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 47.5px;
}

.line {
    width: 60px;
    height: 3.03px;
    background: #F1AD1D;
    margin: auto;
    margin-bottom: 53px;
}

.team-list {
    text-align: center;
}

.team-item {
    display: inline-block;
    width: 16%;
}

img {
    width: 100%
}