.grid { 
    display: grid;
    grid-template-rows: repeat(3 / 1fr);
    grid-template-columns: repeat(3 / 1fr);
    grid-gap: 2vw;
    }
 .grid > div {
    font-size: 5vw;
    padding: .5em;
    background: gold;
    text-align: center;
 }