.wrapper {
    margin: 0 auto;
}
.container {
    display: flex;
}

[class^="item"] {
    width: 75px;
    height: 75px;
    border: 1px solid black;
}

/* .container:nth-child(2n) {
    background-color: orange;
} */

[class^="item"]:nth-child(even) {
    background: blue;
}

[class^="item"]:nth-of-type(2n) {
    background: red;
}

[class^="item"]:nth-child(even):hover {
    background-color: blue;
}
