/*Variables could be used as var(--color1)*/
:root {
	--color1: #111111;
	--color2: #ffffff;
	--color3: #333333;/*border color*/
	--color4: #4D4943;
	--color5: #0d7fbe;
	--color6: #F1AD1D;;
	--color7: #f50f0f;
}



.main-nav {
	position: sticky;
	top: 0;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	border-bottom: 3px solid var(--color6);
	padding-bottom: 20px;
}

.nav-logo {
	display: block;
}

.nav-list {
	list-style: none;
	/* display: flex; */
}

.nav-item {
	text-decoration: none;
	display: inline-block;
	margin-left: 69px;
}

.nav-item-link {
text-decoration: none;
text-transform: uppercase;
color: black;
	font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
position: relative;
}

.nav-item-active {
	color: #F1B128;
}

/* .nav-presudo {
	display: flex;
} */

.nav-item-active::after {
	content: "";
	display: block;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid var(--color6);
	position: absolute;
	top: 5px;
	right: -25px;
	
}

/*import reset.css*/




.container {
	width: 100%;
	max-width: 1170px;
	margin: auto;
}

.subtitle {
	text-align: center;
text-transform: uppercase;

color: var(--color3);
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
margin-top: 125px;
margin-bottom: 28.5px;
}

.description {
	text-align: center;
	color: var(--color4);
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	margin-bottom: 47.5px;
	position: relative;
	margin-bottom: 108px;
}

.description::after {
	display: block;
	content: "";
	border-bottom: 3px solid var(--color6);
	width: 60px;
	/* margin: 0 auto 58px; */
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -48px;
	/* bottom: -20px; */
	top: 48px;
}

.line {
	/* width: 60px;
	height: 3px;
	background-color: var(--color6); */
	border-bottom: 3px solid var(--color6) ;
	width: 60px;
	margin: 0 auto 58px;
}

.brand-list {
	display: flex;
	justify-content: center;
	/* gap: 6px; */
	flex-wrap: wrap;
}

.brand-item {
	width: 20%;
	box-sizing: border-box;
	padding: 0 3px;
}

.brand-link {
	display: block;
}

.brand-photo {
	width: 100%;
}
.trust-nav{
	margin-top: 109px;
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 14px;
	margin-bottom: 44px;
}
.active .trust-link{
	color: var(--color6);
	background: #333333;
}
.trust-link{
	display: inline-block;
	font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 14px;
text-align: center;
color: var(--color1);
text-decoration: none;
padding: 14px 40px;
border: 1px solid var(--color3);
}
.trust-gallery-list{
	display: grid;
grid-template-columns: repeat(4, 1fr) ;
grid-gap: 14px;
margin-bottom: 77px;
}
.trust-gallery-item.info{
	border: 2px solid var(--color3);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	
}
.box-title{
	font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #111111;

}
.box-discription{
	font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #5B5B5B;
padding: 0 13px;
}
.button{
	display: block;
	padding: 12px 33px ;
	background: #F1AD1D;
text-decoration: none;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
width: fit-content;
}
.trust-gallery-item{
 
}
.trust-gallery-link{
	display: block;
}
.trust-gallery-image{
	display: block;
	width: 100%;
}