@import url(fonts.css);

:root {
    --color1: #111111;
    --color2: #ffffff;
    --color3: #333333;
    --color4: #4D4943;
    --color5: #0d7fbe;
    --color6: #F1AD1D;
    --color7: #f50f0f;
    --color8: #3D3D3D;
    --color9: #505050;
}


.hero-wrapper {
    min-height: 100vh;
    /* margin: 0 auto; */
    background: url(../img/intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.hero-container {
    max-width: 1200px;
    width: 100%;
    position: absolute;
    bottom: 133px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    /* height: 100vh; */
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: transparent;
    margin-bottom: 15px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(169, 189, 21, 1) 0%, rgba(243, 255, 0, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

.hero-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color2);
    margin-bottom: 20px;
}

.slogan {
    /* display: inline-block; */
    text-transform: uppercase;
    padding: 0 30px;
    width: fit-content;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 130px;
    color: var(--color2);
    border: 3px solid var(--color2);
    background: rgba(0, 0, 0, 0.3);

    border-image: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(24, 25, 34, 1) 7%, rgba(169, 189, 21, 1) 64%, rgba(243, 255, 0, 1) 94%);
    border-image-slice: 1;
}

.slogan>span {
    display: inline-block;
    color: var(--color6);
    position: relative;
    padding-right: 23px;
    margin-right: 23px;
}

.slogan>span::after {
    content: "";
    display: block;
    height: 130px;
    border-right: 3px solid var(--color6);
    position: absolute;
    right: 0;
    bottom: 0;
}

.section-subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--color3);
    margin-top: 5em;
}

.description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: var(--color4);
    padding: 3em 0;
    position: relative;
}

.description::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: var(--color6);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.award-link {
    display: block;
    text-align: center;
    margin: 3em;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    position: relative;
}

.nav-wrapper::after {
    content: "";
    border-bottom: 3px solid var(--color6);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-logo {
    display: block;
}

.nav-list {
    display: flex;
    /* align-items: flex-end; */
    justify-content: space-between;
    gap: 4em;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color8);
}

.nav-link:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color6);
}

.consulting-wrapper {
    margin: 5em auto;
    display: flex;
    flex-wrap: wrap;
}

.consulting-services {
    width: 50%;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.services-item {
    position: relative;
}

.services-link {
    display: block;
    position: absolute;
    left: 13px;
    bottom: 15px;
    text-decoration: none;
    background-color: var(--color3);
    padding: 14px 33px 14px 17px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--color2);
}

.services-link:hover {
    color: var(--color6);
}

.consulting-article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.consulting-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-transform: uppercase;
    color: var(--color3);
}

.consulting-title>span {
    color: var(--color6);
    margin-bottom: 22px;
}

.consulting-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    color: var(--color9);
}

.consulting-button {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: var(--color2);
    text-decoration: none;
    background-color: var(--color6);
    padding: 19px 27px;
}

.ideas-to-realities {
    height: 380px;
    background-image: url(../img/ideas-to-realities.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ideas-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    max-width: 1200px;
    margin: auto;
}

.picture-subtitle {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--color2);
    position: relative;
    padding-bottom: 60px;
}

.picture-subtitle>span {
    color: var(--color6);
}

.picture-subtitle::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: var(--color6);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.ideas-title>span {
    color: #F1AD1D;
}

/* .team-list {
    display: grid;
    row-gap: 5px;
    grid-template: repeat(2, 178px) / repeat(6, 1fr);
    padding-top: 3em;
} */

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5em;
    align-items: center;

}

.team-item {
    position: relative;
}

.team-link {
    display: block;
    position: absolute;
    left: 13px;
    bottom: 15px;
    text-decoration: none;
    background-color: var(--color3);
    padding: 14px 33px 14px 17px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--color2);
}

.team-link>span {
    color: var(--color6);
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: center;
    margin-top: 3em;
}

.advantages-item {
    width: 280px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-bottom: 35px;
}

.advantages-item::after {
    content: "";
    display: block;
    width: 280px;
    height: 4px;
    background: var(--color3);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
}

.advantages-title {
    padding-top: 20px;
    padding-bottom: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--color2);
    background: var(--color3);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.advantages-title span {
    color: var(--color6);
}


.bg-lamp {
    width: 50px;
    height: 45px;
    background: url('../icons/css_sprites.png') -80px -10px;
    margin: 30px auto;
}

.bg-cloud {
    width: 55px;
    height: 35px;
    background: url('../icons/css_sprites.png') -75px -76px;
    margin: 30px auto;
}

.bg-nuke {
    width: 50px;
    height: 46px;
    background: url('../icons/css_sprites.png') -10px -10px;
    margin: 30px auto;
}

.bg-trophy {
    width: 45px;
    height: 50px;
    background: url('../icons/css_sprites.png') -10px -76px;
    margin: 30px auto;
}

.advantages-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    color: var(--color9);
    position: relative;
    padding-bottom: 25px;
}

.advantages-description::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background: var(--color6);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.advantages-subtitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--color9);
    padding-top: 27px;
    padding-bottom: 13px;
}

.offer-list {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--color9);
}

.feature {
    margin-top: 5em;
    height: 475px;
    background-image: url(../img/intro_dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.feature-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding-top: 60px;
}

.blockquote-wrapper {
    display: flex;
    justify-content: center;
    /* text-align: left; */
    gap: 20px;
    padding-top: 3em;
}

.figure {
    text-align: left;
    position: relative;
    padding-top: 45px;
    padding-bottom: 55px;
}

.figure:before {
    content: "";
    /* content: "\201C";
	font-size: 40px; */
    position: absolute;
    border: 20px solid var(--color3);
    left: 0;
    top: 0;
}

.figure:after {
    content: "";
    /* content: "\201D";
	font-size: 40px; */
    position: absolute;
    border: 1px solid var(--color3);
    border-width: 20px 25px;
    bottom: 0;
}

.underline {
    padding: 20px 0;
    position: relative;
}

.underline:before {
    content: "";
    position: absolute;
    display: inline-block;
    border-top: 3px solid var(--color3);
    width: 85%;
    right: 0;
    top: -20px;
}

.underline::after {
    content: "";
    position: absolute;
    display: inline-block;
    border-top: 3px solid var(--color3);
    width: 100%;
    right: 0;
    bottom: 0;
}

.quote-text,
figcaption {
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    line-height: 16px;
    font-weight: 200;
}

.figcaption {
    display: block;
    position: absolute;
    left: 60px;
    bottom: 0;
    /* left: 0; */
}

.span {
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    line-height: 16px;
    font-weight: 500;
}

.subscribe-form {
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-mail {
    box-sizing: border-box;
    width: 500px;
    height: 66px;
    background: var(--color2);
    border: 1px solid #C7C7C7;
}

.subscribe-submit {
    width: 175px;
    padding: 24px 47px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: var(--color2);
    background: var(--color6);
    border: none;
}

.contact-us-wrapper {
    margin-top: 45px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    width: 574px;
}

.form-title {
    width: 383px;
    box-sizing: border-box;
    background-color: var(--color3);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--color2);
    padding: 24px 17px 17px;
    margin-bottom: 15px;
}

.form-title>span {
    color: var(--color6);
}

.form-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: var(--color9);
    margin-bottom: 25px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form-name {
    box-sizing: border-box;
    width: 274px;
    height: 45px;
}

.form-mail {
    box-sizing: border-box;
    width: 274px;
    height: 45px;
}

.form-textarea {
    box-sizing: border-box;
    resize: both;
    overflow: auto;
    max-width: 574px;
    max-height: 187px;
    margin-bottom: 20px;
}

.form-textarea::placeholder {
    padding: 30px !important;
    left: 30px;
}

.reset {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--color2);
    padding: 16px 40px;
    background: var(--color6);
    border: none;
    margin-right: 20px;
}

.submit {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--color2);
    padding: 16px 40px;
    background: var(--color6);
    border: none;
}

.adress-title {
    width: 250px;
    box-sizing: border-box;
    background-color: var(--color3);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--color2);
    padding: 24px 17px 17px;
    margin-bottom: 18px;
}

.adress-title>span {
    color: var(--color6);
}

.adress-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: var(--color9);
    margin-bottom: 18px;
}

.icon-adress {
    width: 11px;
    height: 11px;
    padding: 11px;
    background-color: var(--color3);
    margin-right: 10px;
}

.adress-link {
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: var(--color9);
    margin-bottom: 6px;
}

.adress-link:hover {
    color: var(--color6);
}

.subtitle-adress {
    width: 250px;
    box-sizing: border-box;
    background-color: var(--color3);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--color2);
    padding: 24px 17px 17px;
    margin-top: 35px;
    margin-bottom: 18px;
}

.subtitle-adress>span {
    color: var(--color6);
}

.socials-list {
    display: flex;
}

.icon-socials {
    width: 18px;
    height: 18px;
    background-color: var(--color6);
    padding: 13px;
    margin-right: 13px;
}

.icon-socials:hover {
    background-color: var(--color3);
}

.feedback {
    margin-top: 5em;
    height: 475px;
    background-image: url(../img/feedback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.feedback-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

.feedback-description {
    text-align: center;
    padding-top: 55px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--color2);
}

.description-link {
    text-decoration: none;
    color: var(--color6);
}

.feedback-link {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--color6);
}

.brand-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.brand-link {
    text-decoration: none;
}


.buy-now {
    margin-top: 5em;
    height: 380px;
    background-image: url(../img/buy_now.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.buy-now-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

.buy-btn {
    display: block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color2);
    border: 1px solid var(--color2);
    margin-top: 65px;
    padding: 16px 54px;
}

.gallery-nav {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.gallery-btn {
    display: block;
    padding: 12px 40px;
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: var(--color1);
    border: 1px solid var(--color1);
}

.gallery-btn:hover {
    background: var(--color3);
    color: var(--color6);
}

.active-btn {
    background: var(--color3);
    color: var(--color6);
}

.gallery-list {
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-item {
    text-align: center;
}

.gallery-item:hover .gallarey-info {
    display: block;
}

.gallery-item:hover .gallery-image {
    display: none;
}

.gallarey-info {
    width: 281px;
    height: 271px;
    box-sizing: border-box;
    border: 2px solid var(--color3);
    display: none;
}



.static-info {
    width: 281px;
    height: 271px;
    box-sizing: border-box;
    border: 2px solid var(--color3);
    display: block;
}

.info-title {
    padding-top: 50px;
    padding-bottom: 25px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: var(--color1);
}

.info-discription {
    margin: auto;
    width: 258px;
    padding-top: 28px;
    padding-bottom: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--color9);
    position: relative;
}

.info-discription::before {
    content: "";
    display: block;
    position: absolute;
    width: 65px;
    height: 3px;
    background: var(--color6);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.info-btn {
    display: inline-block;
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--color2);
    background: var(--color6);
    padding: 12px 32px;
}

.location-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    background: var(--color3);
}

.location-btn>span {
    color: var(--color6);
}

.copyright {
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: var(--color3);
}