.container {
    width: 100%;
    max-width: 1140px;
    margin: 50px auto 0;
}

.please-sign-in {
    display: block;
    font-size: 34px;
    color: darkslategray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.please-sign-in a {
    color: cornflowerblue;
    text-decoration: none;
    font-size: 34px;
    filter: brightness(.8);
    margin: 0 5px;
    cursor: pointer;
}

.please-sign-in a:hover {
    filter: brightness(.9);
}

.user-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}

.user-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: lightgrey;
}

.user-container p {
    font-size: 20px;
    color: darkslategray;
    margin-bottom: 10px;
}

.user-container span {
    font-size: 14px;
    color: grey;
    margin-bottom: 5px;
}

.new-todo {
    display: flex;
    align-items: center;
    margin: 15px 0;
    max-width: 600px;
    width: 100%;
}

.new-todo input {
    margin-right: 10px;
}

.todo-container {
    box-sizing: border-box;
    padding: 10px;
}

.todo {
    margin: 5px 0;
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
}

.todo span {
    color: darkslategray;
    font-size: 16px;
    line-height: 20px;
    margin-right: 20px;
}

.todo button {
    padding: 4px 10px;
    color: tomato;
    background-color: transparent;
    font-size: 14px;
    border: 1px solid tomato;
    outline: none;
}

.log-out {
    display: none;
}
