body {
    padding: 0;
    margin: 0;
}

.g-content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.users-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    box-sizing: border-box;
    padding: 0 10px;
}

@media (max-width: 992px) {
    .users-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .users-list {
        grid-template-columns: 1fr;
    }
}

.card {
    position: relative;
    padding: 46px 0 20px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    overflow: hidden;
    text-align: center;
    z-index: 5;
}

.card:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 130px;
    top: 0;
    background: #f9f9f9;
    border-bottom: 1px solid rgba(0,0,0,.15);
    z-index: -1;
}

.card .user-photo {
    position: relative;
    background: #fff;
    padding: 5px;
    width: 120px;
    height: 120px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    margin-bottom: 30px;
    border: 1px solid rgba(0,0,0,.25);
}

.card .user-photo img {
    width: 120px;
    border-radius: 50%;
}

.card .user-label {
    color: #999;
    font-size: 18px;
    margin: 0;
    text-transform: capitalize;
}
.card .user-value {
    color: #2c2e31;
    font-size: 28px;
    padding: 0  24px;
    margin-bottom: 36px;
    text-transform: lowercase;
}

.card .values-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 -8px;
    padding: 0  24px;
}
.card .list-item {
    position: relative;
    padding: 0 8px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.card .list-item.active:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: -6px;
    left: 0;
    right: 0;
    background: #79b039;
}

.card .list-item.active:after {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    left: 50%;
    border: solid #79b039;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(45deg) translateX(-50%);
}