.wrapper {
    margin: 0 auto;
}

.container {
    display: flex;
}

[class^="item"] {
    width: 75px;
    height: 75px;
    border: 1px solid black;
}

/* .container:nth-child(2n) {
    background-color: orange;
} */

/* [class^="item"]:nth-child(even) {
    background: blue;
} */

/* [class^="item"]:nth-of-type(2n) {
    background: red;
} */

/* [class^="item"]:nth-child(even):hover {
    background-color: blue;
}

[class^="item"]:nth-child(even):hover {
    background-color: blue;
} */

.container:nth-child(3n + 1) [class^="item"]:nth-child(3n) {
    background: red;
}

.container:nth-child(3n + 2) [class^="item"]:nth-child(3n + 1) {
    background: gray;
}


.container:nth-child(3n) [class^="item"]:nth-child(3n + 2) {
    background: blue;
}





/* .container:nth-child(1) [class^="item"]:nth-child(3n + 2) {
    background: yellow;
}

.container:nth-child(2) [class^="item"]:nth-child(3n + 1) {
    background: yellow;
}

.container:nth-child(3) [class^="item"]:nth-child(3n + 2) {
    background: yellow;
} */