@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-regular.ttf") format("truetype");
  font-weight: 400; /* normal */
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-bold.ttf") format("truetype");
  font-weight: 700; /* bold */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: inline-block;
  justify-content: center;
  text-align: center;
  padding: 0px;
  margin: 10px;
}

.nav-item {
  justify-content: center;
  display: inline-block;
  margin-right: 20px;
}

.nav-item-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 2.7px;
  color: #f00;
  padding: 5px 3px;
}

.nav-item-link:hover {
    font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 2.7px;
  color: #fff;
  background-color: #f00;
  border-radius: 4px;
  padding: 5px 3px;
}

.picture-wrapper {
  /* width: 100%; */
  /* width: 100vw; */
  display: flex;
  justify-content: center;
}

.picture {
  /* max-width: 100%; */
}

.content-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 3.3px;
  text-align: center;
  color: #373737;
}

.content-wrapper {
  width: 1280px;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.content-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.btn {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    background-color: #f00;
    padding: 15px 30px;
    border-radius: 4px;
}

.copyright {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    padding-right: 10%;
}