@import url(fonts.css);

:root {
    --white: #FAFAFA;
    --lightgray: #F2F2F2;
    --grey: #E3E3E3;
    --standart: #89C331;
    --ultimate: #F04A56;
    --premium: #20807C;
    --font-black: #484848;
    --font-white: #FFFFFF;
    --table-border: #3A4965;
    --column-border: #bdbdbd;
}

.pricing-table {
    margin: 100px auto;
    text-align: center;
    border: 20px solid var(--table-border);
    font-family: 'Arimo';
    font-style: normal;
    border-collapse: separate;
}

.head-section {
    position: relative;
}

.head-section::after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    background-color: var(--table-border);
    left: 0;
    bottom: 0;
}

th {
    vertical-align: middle;
    min-width: 160px;
    text-transform: uppercase;
}

thead th:nth-of-type(even) {
    background-color: #f2f2f2;
}


.pricing-plan {
    height: 115px;
    width: 200px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: var(--font-black);
}

.pricing-plan>span {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--font-black);
}

.services>span {
    display: block;
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--font-black);
}


td {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--font-black);
    vertical-align: middle;
}

td span:only-child {
    display: block;
}


tr td:nth-of-type(even) {
    background-color: #f2f2f2;
}

.standart-plan {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    background-color: var(--standart);
    color: var(--white);
}

.title {
    margin-top: 23px;
}

.price {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: var(--white);
}

.price-decoration {
    font-size: 36px;
    padding-right: 30px;
    position: relative;
}

.price-decoration::after {
    content: ".99";
    font-size: 16px;
    position: absolute;
    top: -25%;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 8px 35px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: var(--white);
    background: var(--font-black);
    border-radius: 5px;
}

.ultimate-section>*:not(:first-child) {
    border-bottom: 2px solid var(--column-border);
    border-top: 2px solid var(--column-border);
}

.ultimate-plan {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    background-color: var(--ultimate);
    color: var(--white);
}

.premium-plan {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    background-color: var(--premium);
    color: var(--white);
}