@import './reset.css';
/*importing reset from another file*/

/*Variables could be used as var(--color1)*/
:root {
    --color1: #000000;
    --color2: #fff;
    --color3: #3e3e3e;
    /*border color*/
    --color4: #ff7700;
    --color5: #0d7fbe;
    --color6: #fae317;
    --color7: #f50f0f;
}

.black {
    background-color: var(--color1)
}

.white {
    background-color: var(--color2)
}

.orange {
    background-color: var(--color4)
}

.blue {
    background-color: var(--color5)
}

.yellow {
    background-color: var(--color6)
}

.red {
    background-color: var(--color7)
}

body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 700px;
}

.grid div {
    display: flex;
    text-align: center;
    justify-content: center;
}

.grid {
    background-color: var(--color3);
    border: 10px solid var(--color3);
    height: 90vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr repeat(2, 2fr) repeat(5, 1fr);
    grid-template-columns: 2fr repeat(4, 1fr) repeat(2, 2fr);
    grid-gap: 10px;

}

.item-1 {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1 / 3;
}

.item-2 {
    grid-column: 3 / 6;
}

.item-5 {
    grid-row: 2 / 3;
}

.item-6 {
    grid-area: 2 / 2 / 4 / 6;
    /* transform: scale(1.1); */
}

.item-7 {
    grid-column: 6 / -1;
}

.item-8 {
    grid-row: 3 / 5;
}

.item-11 {
    grid-area: 4 / 2 / 6 / 4;
}

.item-12 {
    grid-column: 4 / 6;
}

.item-13 {
    grid-column: 6 / -1;
}

.item-14 {
    grid-row: 5 / 8;
}

.item-15 {
    grid-column: 4 / 6;
}

.item-16 {
    grid-area: 5 / 6 / 7 / -1;
}

.item-17 {
    grid-area: 6 / 2 / 8 /4;
}

.item-18 {
    grid-column: 4 / 6;
}

.item-19 {
    grid-column: 4 / 6;
}

.item-20 {
    grid-area: 7 / 6 / -1 / -1;
}

.item-22 {
    grid-column: 2 / 4;
}